h1{
font-size: 60px;
color: rgb(186, 208, 222) ;
margin: 0;
text-align:center;
font-family: 'Sacramento', cursive;
}

a{
text-decoration:none;
font-size: 20px;
text-transform: uppercase;
color: rgb(221, 230, 207);
padding: 8px 16px;
font-family: 'Shrikhand', cursive;
}
a:hover{
background-color:#D3EBE9;
color:rgb(221, 230, 207);
border: 1pxxx solid rgb(221, 230, 207);
transition:0.25s ease-in;
  }
html {
width:100;
height:100;
}
body{
width:  100%;
height: 100%;
margin: 0;
header {
height: 60px;
background-color:#8a84e2;
}
header img {
with:40px;
}
.nav-container{
float:right;
}
.nav-container ul{
margin:0;
}
.nav-container ul li {
display: inline-block;
}
.nav-container ul li a {
color: #68edc6
}
