html {
width:100;
height:100;
font-family:'Reenie Beanie', cursive;
}
h1{
font-size: 60px;
color: rgb(186, 208, 222) ;
margin: 0;
text-align:left;
font-family: 'Sacramento', cursive;
}

a{
text-decoration:none;
font-size: 20px;
text-transform: uppercase;
padding: 8px 16px;
}


body{
width:  100%;
height: 100%;
margin: 0;
}
header {
height: 60px;
background-color:#8a84e2;
}
header img{
width: 40px;
position: relative;
left: 120px
top: 10px
}

.nav-container{
float:right;
}
.nav-container ul li {
display: inline-block;
}

.nav-container ul  {
margin:0;
}
.nav-container ul li a {
color: #68edc6;
text-decoration: none;
position: relative;
top:22px;
right: 120px;
margin: 0px 0px 0px 20px;
padding: 0px 4px 6px 4px;
}
.nav-container ul li a:hover {
background-color: #9cd2f7;
color: #D3EBE9;
transition:0.25s ease-in;

}
#container-bg{
  background:url(img/blossom) no-repeat center center fixed;
  background-attachment: fixed;
    background-size: cover;
  with:100%;
}

