html {
width:100%;
height:100%;
font-family:'Reenie Beanie', cursive;
}
h1{
  font-size:60px;
  color:#00308F;
  margin: 0;
}
a{
text-decoration:none;
font-size:30px;
  text-transform:uppercase;
  color:#00308F;
  padding:8px 16px;
}
body{
  with:100%;
  height:100%;
  margin:0;
  font-size:30px;
}
header {
height: 60px;
  color: #00308F;

}

.nav-container{
float:right;
}
.nav-container ul li {
display: inline-block;
}

.nav-container ul  {
margin:0;
}
.nav-container ul li a {
color: #68edc6;
text-decoration: none;
position: relative;
top:22px;
right: 120px;
margin: 0px 0px 0px 20px;
padding: 0px 4px 6px 4px;
}
.nav-container ul li a:hover {
background-color: #9cd2f7;
color: #D3EBE9;
transition:0.25s ease-in;

}
#container-bg{
  background:url(img/blossom-bg.png) no-repeat center center fixed;
 background-size: cover;
  background-attachment: fixed;
  width:100%;
  height:100%;
}
#test{
  height:1000px;
 
}

.content-wrapper{
margin:0 auto:
width:80%;
text-align:center;
position:relative;
top30%;
}
p{
  font-size:20px;
}
.content-wrapper p{
text-transform:uppercase;
  color:#00308F;
  margin:20px 0px 60px 0px;
}
.content-wrapper a{
color: #00308F;
text-decoration:none;
border:1px solid #ffffff;
padding: 8px 16px;
font-size: 22px;
}

.btn-down{
  margin:0 auto;
  text-align:center:
}
.btn-down .fas{
  color:#00308F;
  font-size:40px;
  position: absolute;
  bottom: 100px;
  transform:translate(-50%,-50%);
}
h2{
color:#000000;
font-size:42px;
}
hr{
width:30px;
}

#introduction-section{
margin: 80px auto 0 auto;
text-align:center;
}
#grid-layout-33 {
display: grid;
grid-temple-columns: 1fr 1fr 1fr;
grid-gap: 3em;
width: 80%;
margin:0 auto;
}
#grid-layout-33 > div {
background-color:#DBEBFF;
padding: 18px;
text-align: center;
box-shadow: 0px 0px 10px #C8E0FD;
margin: 80px auto 40px auto;
}


